<%- include('../partials/_html-head.ejs') %>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>Sign Up</title>
    </head>
    
    <body>
        
        <%- include('../partials/_navbar.ejs') %>
        <div id="border-d-scale"><div id="border-d"><div id="bordered-d"></div></div></div>
        <h1 class="header-one">Create a new account!</h1>
        <div id="sign">
            <form action="/auth/sign-up" method="POST">
                <div class="sign-form">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required />
                </div>
                <div class="sign-form">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required />
                </div>
                <div class="sign-form">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" name="confirmPassword" id="confirmPassword" required />
                </div>
                <div class="button">
                <button type="submit">Sign up</button>
                </div>
            </form>
        </div>
    </body>
</html>