<%- include('./partials/_html-head.ejs') %>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>Home</title>
    </head>

    <body>
        
        <%- include('./partials/_navbar.ejs') %>
        <h1 class="header-one">Welcome to D&D Data Entry: The Metagame</h1>
        <h3 id="subline"><em>Gimme dat data</em></h3>

        <p id="intro">A simple CRUD tool for managing your characters. Save an ent, go digital.</p>
        <div id="border-d"><div id="bordered-d"></div></div>

    </body>

</html>