<%- include('./partials/_html-head.ejs') %>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>Home</title>
    </head>

    <body>
        
        <%- include('./partials/_navbar.ejs') %>
        <h1>Welcome to D&D Data Entry: The Metagame</h1>
        <h3><em>Gimme dat data</em></h3>

    </body>

</html>