<%- include('./partials/html-head') %>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>Home</title>
    </head>
    <body>
        <%- include('./partials/nav') %>
        <h1>Welcome to D&D Data Entry: The Metagame</h1>

    </body>
</html>