<%- include('../partials/_html-head.ejs') %>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>Users</title>
    </head>

        <%- include('../partials/_navbar.ejs') %>
        <div id="border-d-scale"><div id="border-d"><div id="bordered-d"></div></div></div>
        <h1 class="header-one">Users</h1>
        <div id="content-container-top">
            <ul class="user-list">
            <% users.forEach((user) => { %>
                <a href="/users/<%= user._id %>/roster">
                    <div class="user">
                        <li>
                            <p id="usernames"><%= user.username %></p>
                        </li>
                    </div>
            <% }); %>
            </ul>
        </div>
    </body>

</html>