<%- include('../partials/_html-head.ejs') %>
        <title>Users</title>
    </head>

        <%- include('../partials/_navbar.ejs') %>
        <h1>Users</h1>
        <ul class="user-list">
        <% users.forEach((user) => { %>
            <a href="/users/<%= user._id %>/roster">
                <div class="user">
                    <li>
                        <p id="usernames"><%= user.username %></p>
                    </li>
                </div>
        <% }); %>
        </ul>

    </body>

</html>